<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="my-4">Page {{page.id}}</h2>
            <div style="box-shadow: 2px 3px 9px 4px rgba(0,0,0,0.04);">
                <div class="q-container-show p-4">
                    <div class="row">
                        <div class="col">
                            <h1 class="q-title-show">{{ page.title }}</h1>
                            <div class="q-display p-3">
                                <i class="fa fa-quote-left mr-3">{{ page.id }}</i>
                                <p class="d-inline">{{page.content}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>